
<h2><%= l(:list_pages) %></h2>

<h3>Pages</h3>
<ul>
<% @pages.each do |page| %>
  <li> <%= link_to page.name, {:action=>:show, :id=>page.name}%></li>
<% end %>
</ul>

<h3>Files</h3>
<ul>
<% @files.each do |file| %>
  <li> <%= link_to file.name, {:action=>:file, :id=>file.name}%></li>
<% end %>
</ul>
